@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* bring the browser window to the top */
#browser {
	-moz-box-ordinal-group: 0 !important;
	padding-top: 0px;
}

/* hide titlebar buttons */
#TabsToolbar > .titlebar-buttonbox-container {
	display: none !important;
}

/* tabs on bottom */
#navigator-toolbox toolbar:not(#nav-bar):not(#toolbar-menubar) {-moz-box-ordinal-group:10}
#TabsToolbar {-moz-box-ordinal-group:1000!important}

/* tabs position */
#TabsToolbar {
 display: block !important; /*required for 71+*/
 position: absolute !important;
 bottom: 0 !important;
 width: 100vw !important;
}

/* tabs width */
#tabbrowser-tabs {
  width: 100vw !important;
}

/* tabs area padding */
*|*:root:not([chromehidden*="toolbar"]) #navigator-toolbox {padding-bottom: var(--tab-min-height) !important;}

/* drag space */
.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {
  width: 40px;
}

/* hide indicators */
.private-browsing-indicator {display: none !important;}
.accessibility-indicator    {display: none !important;}

/* hide all tabs button */
#tabbrowser-tabs ~ #alltabs-button {display:none!important;}

/* list megabar to upper side */
#urlbar[focused]{ top: auto !important; bottom: 0px !important; }
